<header>

  <h1 class="header__title">@@title</h1>
  <a class="header__link"href="https://github.com/jnataliaramirez">
    <p class="header__link--by">
      Código y diseño  por J. Natalia Ramirez  
      <i class="fa fa-github-alt" aria-hidden="true"></i>
    </p> 
    </a>


  <form class="header__form">
      <input type="text" name="search" id="search" class="js_search_input header__form--input" placeholder="Busca aquí tu serie">
      <label for="search" class="header__form--label"></label>
      <button type="submit" class="js_button btn header__form--btn">Buscar</button>
  </form>

</header>