$font-title: 'Lobster', cursive;
$font-text: 'Urbanist', sans-serif;
$font-favourite: 'Handlee', cursive;

// colors
$color-principal: #E54F6D;
$color-principal-alt: rgba(59,78,114, 1);
$color-background: #f2f2f2a8;
$color-background-card: #b0c4de;
$color-background-fav: #f0ee84;


//size
$default-font-size: 16