
.header {
    &__title {
        font-family: $font-title;
        text-align: center;
        text-transform: capitalize;
        color: #E54F6D;
        font-size: rem(30);
        font-weight: 700;
    }

    &__form {
        margin: rem(40);
        text-align: center;

        &--input {
            font-family: inherit;
            width: 35%;
            border: 0;
            border-bottom: 2px solid $color-principal-alt;
            outline: 0;
            font-size: rem(18);
            color: $color-principal;
            padding: rem(5) rem(2);
            background: transparent;
            transition: border-color 0.2s;
            margin: rem(14);
        }

        &--btn {
            font-family: inherit;
            font-weight: 700;
            color: $color-principal-alt;
            background: transparent;
            border-bottom: rem(2) solid $color-principal-alt;
            border-radius: 6px; 
            color:  $color-principal-alt;
            padding: rem(7) rem(20);
            text-align: center;
            display: inline-block;
            font-size: rem(18);
            margin: rem(2);
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                background-color: $color-principal-alt;
                color: $white;
            }

        }

    }
}