body {
    font-family: $font-title;
    margin   : 0 auto;
    max-width: rem(1000);
    margin-top: rem(35);
    background-color: $color-background;
}

.main {
    display: grid;
    grid-template-columns: 30% 70%;
}